* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #666;
}

a {
  text-decoration: none;
}

.main-header {
  z-index: 10;
  padding: 5px;
  text-align: center;
  color: white;
  text-shadow: #222 0px -1px 1px;
  position: fixed;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
  background: rgba(36,39,41,1);
  background: -moz-linear-gradient(left, rgba(36,39,41,1) 0%, rgba(55,63,71,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(36,39,41,1)), color-stop(100%, rgba(55,63,71,1)));
  background: -webkit-linear-gradient(left, rgba(36,39,41,1) 0%, rgba(55,63,71,1) 100%);
  background: -o-linear-gradient(left, rgba(36,39,41,1) 0%, rgba(55,63,71,1) 100%);
  background: -ms-linear-gradient(left, rgba(36,39,41,1) 0%, rgba(55,63,71,1) 100%);
  background: linear-gradient(to right, rgba(36,39,41,1) 0%, rgba(55,63,71,1) 100%);
  background-repeat:no-repeat;
}

.main-header a {
  position: absolute;
  left: 20px;
  top: 20px;
  color: white;
  font-size: 32px;
}

.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.3s ease;
}

.main-nav {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: #3B3B3B;
  overflow-y: auto;
  transition: width 0.3s ease;
}

.main-nav .pill{
  position: relative;
}

.main-nav .pill a {
  font-size: 16px;
  color: white;
  padding: 10px;
  height: 50px;
  display: block;
  background: linear-gradient(#3E3E3E, #383838);
  border-top: 1px solid #484848;
  border-bottom: 1px solid #2E2E2E;
}

.main-nav .pill:first-child a {
  font-weight: bold;
  font-size: 20px;
}

.main-nav .pill:first-child a:hover, .main-nav .pill a:first-child:focus {
  text-decoration: none;
}

.main-nav .pill:not(:first-of-type) a:hover, .main-nav .pill:not(:first-of-type) a:focus, .main-nav .pill a.active {
  background: rgba(113,151,173,1);
  background: -moz-linear-gradient(left, rgba(113,151,173,1) 0%, rgba(109,156,199,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(113,151,173,1)), color-stop(100%, rgba(109,156,199,1)));
  background: -webkit-linear-gradient(left, rgba(113,151,173,1) 0%, rgba(109,156,199,1) 100%);
  background: -o-linear-gradient(left, rgba(113,151,173,1) 0%, rgba(109,156,199,1) 100%);
  background: -ms-linear-gradient(left, rgba(113,151,173,1) 0%, rgba(109,156,199,1) 100%);
  background: linear-gradient(to right, rgba(113,151,173,1) 0%, rgba(109,156,199,1) 100%);
  text-decoration: none;
}

.main-nav:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 34px;
  background: linear-gradient(left, transparent, rgba(0, 0, 0, 0.4));
}

.main-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4%;
  background: rgba(36,39,41,1);
  background: -moz-linear-gradient(left, rgba(36,39,41,1) 0%, rgba(55,63,71,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(36,39,41,1)), color-stop(100%, rgba(55,63,71,1)));
  background: -webkit-linear-gradient(left, rgba(36,39,41,1) 0%, rgba(55,63,71,1) 100%);
  background: -o-linear-gradient(left, rgba(36,39,41,1) 0%, rgba(55,63,71,1) 100%);
  background: -ms-linear-gradient(left, rgba(36,39,41,1) 0%, rgba(55,63,71,1) 100%);
  background: linear-gradient(to right, rgba(36,39,41,1) 0%, rgba(55,63,71,1) 100%);
  background-repeat:no-repeat;
  z-index: 1;
}

.main-footer span {
	color: white;
	float: right;
	padding-top: 0.3%;
	padding-right: 10px;
}

.content {
  padding: 100px 20px 20px 20px;
  background-color: #666;
}

.close-menu {
  display: none;
}

#main-nav:target {
  width: 20%;
}

#main-nav:target + .page-wrap {
  width: 80%;
}

#main-nav:target + .page-wrap .open-menu {
  display: none;
}

#main-nav:target + .page-wrap .close-menu {
  display: block;
}

#main-nav:target + .page-wrap .main-header {
  width: 80%;
  left: 20%;
}

.live {
  position: absolute;
  top: 20px;
  right: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  width: 7px;
  height: 7px;
  background: red;
}
@media (max-width: 720px) {
  .main-nav, .main-footer, .main-header {
    display: none;
  }
  #main-nav:target + .page-wrap {
    width: 100%;
  }
  .content {
    padding: 0;
  }
}
